<h1>Benjamin Hands First Attempt @ a Blog Site</h1>
<div class="welcome-home">
  <div class="welcome-links">
    <a href="https://github.com/BenHand">GitHub</a>
    <a href="http://benjaminjhand.tumblr.com/">Tumbler</a>
  </div>
</div>
