<h1>Blog Posts Index Page</h1>
<ul>
<% blog_posts.each do |post| %>
  <li>
  <%= link_to "#{ render partial: 'blog_post', locals: { post: post } }", controller: "blog_post", action: "show", id: post.id %>
  </li>
<% end %>
</ul>
