<h1>Create a New Blog Post</h1>
<div class="blogposts-new">
  <div class="create-box">
    <%= form_for(:blog_posts, url: '/blog_post', method: :post) do |f| %>
      <div><%= f.text_field :title, value: "Title" %></div>
      <div><%= f.text_area :body, :cols => "100", :rows => "27", value: "blah blah blah...." %></div>
      <p><%= f.submit "POST" %></p>
    <% end %>
  </div>
</div>
