<h1>blog posts new page</h1>
  <%= form_for(:blog_posts, url: '/blog_post', method: :post) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :body %>
    <%= f.submit "POST" %>
  <% end %>
