<h2>Create a New Blog Post</h2>
<div class="create-box">
  <%= form_for(:blog_posts, url: '/blog_post', method: :post) do |f| %>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.text_field :body, :cols => "100", :rows => "100" %>
    </div>
    <p>
      <%= f.submit "POST" %>
    </p>
  <% end %>
</div>
