<h1>blog post show page</h1>
<%= form_for(:blog_posts, url: "/blog_post/#{params[:id]}", method: :delete) do |f| %>
  <div class="blog-posts">
    <%= render partial: 'blog_post', locals: { post: blog_posts } %>
  </div>
  <br>
<p>
  <%= f.submit "DELETE" %>
</p>
<% end %>
