// Place all the styles related to the BlogPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$text-align-primary: center;
$background-color-primary: #4ACBFF;
$background-color-secondary: blue;


a{ padding: 10px; };

h1{ text-align: $text-align-primary; };

h2{
  margin-bottom: 5px;
  text-align: $text-align-primary;
};

header,footer {
  text-align: $text-align-primary;
  background: $background-color-primary;
};
footer {
  text-align: $text-align-primary;
  background: $background-color-secondary;
};

body{
  margin: 0;
  background: linear-gradient($background-color-primary, $background-color-secondary);
  border: solid 4px $background-color-primary;
};

input#blog_posts_title{
  min-width: 30%;
  margin-bottom: 15px;

};

.create-box{
  text-align: $text-align-primary;
  opacity: .6;
};

.blog-posts{
  text-align: $text-align-primary;
  margin: 40px;
  background: white;
  opacity: .4;
  border-radius: 40px;
};

.post-content{
  margin: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
};

.delete-btn{ text-align: $text-align-primary; };

.save-btn{ text-align: $text-align-primary; };

.edit-btn{ text-align: $text-align-primary; };

.title-body{ padding-bottom: 10px; };
