$text-align-primary: center;
$background-color-primary: black;
$background-color-secondary: blue;
$text-color-primary: white;
$font-family-primary: "Gill Sans Extrabold", Helvetica, sans-serif;


a{
  padding: 10px;
  color: $text-color-primary;
};

h1{
  text-align: $text-align-primary;
  color: $text-color-primary;
  text-shadow: 2px 2px black;
  color: $text-color-primary;
  font-size: 40px;
  font-family: $font-family-primary;
};

h2{
  margin-bottom: 5px;
  text-align: $text-align-primary;
  color: $text-color-primary;
  text-shadow: 2px 2px black;
  font-size: 40px;
  font-family: $font-family-primary;
};

header,footer {
  text-align: $text-align-primary;
  background: $background-color-primary;
};
footer {
  text-align: $text-align-primary;
  background: $background-color-secondary;
};

body{
  margin: 0;
  background: linear-gradient($background-color-primary, $background-color-secondary);
  background-image: asset-url("cayman_islands.jpg");
  background-size: cover;

};

input#blog_posts_title{
  min-width: 30%;
  margin-bottom: 15px;

};

.create-box{
  padding-top: 40px;
  text-align: $text-align-primary;
  opacity: .8;
};

.blog-posts{
  text-align: $text-align-primary;
  margin: 40px;
  background: white;
  opacity: .7;
  border-radius: 40px;
};

.blog-posts-edit{
  text-align: $text-align-primary;
  opacity: .8;
};

.post-content{
  margin: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  a{
    color: red;
    font-size: 30px;
    text-decoration: none;
  };
};

.delete-btn{ text-align: $text-align-primary; };

.save-btn{ text-align: $text-align-primary; };

.edit-btn{ text-align: $text-align-primary; };

.title-body{ padding-bottom: 10px; };

.welcome-home, .welcome-about, .blogposts-new{
  text-align: $text-align-primary;
  min-height: 595px;
  min-width: 1250px;
};
.welcome-links{
  font-size: 20px;
};
