// Place all the styles related to the BlogPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$text-align-primary: center;

// body{
//   background-image: url(cayman_islands.jpg);
//   background-size: cover;
// };

a{ padding: 10px; };

h1{ text-align: $text-align-primary; };

h2{
  margin-bottom: 5px;
  text-align: $text-align-primary;
};

ul{ padding: 0; };

header,footer { text-align: $text-align-primary; };

input#blog_posts_title{
  min-width: 30%;
  margin-bottom: 15px;

};
// input#blog_posts_body{
//   min-width: 50%;
//   min-height: 350px;
// };

.create-box{ text-align: $text-align-primary; };

.blog-posts{ text-align: $text-align-primary; };

.delete-btn{ text-align: $text-align-primary; };

.save-btn{ text-align: $text-align-primary; };

.edit-btn{ text-align: $text-align-primary; };

.title-body{ padding-bottom: 10px; };
