<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>header
  <nav>
    <a href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/blog_post">All Posts</a>
    <a href="/blog_post/new">New Post</a>
  </nav>
</header>
    <body>

      <%= yield %>

    </body>
  <footer>footer</footer>
</html>
